<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="15; URL=https://sheltered-coast-93272.herokuapp.com/"> -->
    <!-- <meta http-equiv="refresh" content="5; URL=http://127.0.0.1:8000/"> -->

    <title>Graph</title>
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.3.1.min.css')}}">
    {% endblock %}
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-auto">
              <h5 class="mt-5 text-center">Vibration Analysis Graph - History</h5>
                <p id="x-value" hidden="hidden">{{ xa }}</p>

                <div id="x_graph" style="width: 800px;height: 400px"></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <div id="y_graph" style="width: 800px;height: 400px"></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <div id="test_graph" style="width: 800px;height: 400px"></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="data-wrapper" style="display: none">
                <div id="success-alert" class="alert alert-success"></div>
                <div id="error-alert" class="alert alert-danger"></div>
            </div>
        </div>
    </div>
    <script>

        // Global variables
        x_array = [];
        y_array = [];
        axis_time = [];
        x_graph = document.getElementById('x_graph');
        y_graph = document.getElementById('y_graph');

        getX();
        // getY();

        var layout = {
            title: "Vibraration Analysis Graph - Displacement Against Time",
            yaxis: {
                title: "Displacement - X",
                range: [-1, 1]
            },
            xaxis: {
                title: "Time"
            }
        };

        var layouty = {
            title: "Vibration Analysis Graph - Displacement Against Time",
            yaxis: {
                title: "Displacement - Y",
                range: [-1, 1]
            },
            xaxis: {
                title: "Time"
            }
        };


        var graph = setTimeout(function(){
          var data = [{
            x: axis_time,
            y: x_array,
            mode: 'lines+markers'
          }];

          var datay = [{
            x: axis_time,
            y: y_array,
            mode: 'lines+markers',
            line: {
              color: '#FFA500',
            }
          }];

          var traceWarn = {
            title: "Vibration Analysis Graph - Displacement Against Time (Thresholds)",
            yaxis: {
                title: "Displacement - Y",
                range: [-1, 2]
            },
            xaxis: {
                title: "Time"
            },
            shapes: [
              {
                type: 'rect',
                xref: 'x',
                yref: 'paper',
                x0: axis_time[0],
                y0: 0.5,
                x1: axis_time[axis_time.length-1],
                y1: 0.7,
                line: {
                  color: 'rgb(255, 83, 13)'
                },
                layer: "above",
                fillcolor: 'rgb(255, 83, 13)',
                opacity: 0.4
              },
              {
                type: 'rect',
                xref: 'x',
                yref: 'paper',
                x0: axis_time[0],
                y0: 0.7,
                x1: axis_time[axis_time.length-1],
                y1: 0.9,
                line: {
                  color: 'rgb(255, 0, 0)'
                },
                layer: "above",
                fillcolor: 'rgb(255, 0, 0)',
                opacity: 0.4
              }
            ]
          };

          Plotly.newPlot(x_graph, data, layout);
          Plotly.newPlot(y_graph, datay, layouty);
          Plotly.newPlot(test_graph, datay, traceWarn);

        }, 1000);

        // Ajax calls to CSV endpoints
        function getX(){

          var request = $.ajax({
            url: "https://sheltered-coast-93272.herokuapp.com/api/history/x",
            dataType: "json",
            method: "POST",
          });
          request.done(function(msg){
            x_ = Array.from(Object.values(msg.x));
            a_ = Array.from(Object.values(msg.timestamp));
            y_ = Array.from(Object.values(msg.y));
            x_array = populateArrays(x_);
            axis_time = populateArrays(a_);
            y_array = populateArrays(y_);

            console.log(y_array);
            console.log(x_array);
            console.log(axis_time)

          });

          request.fail(function(jqXHR, textStatus){
            console.log("Request failed: " + jqXHR.responseText);
          });
        }

        // function getY(){
        //   var request = $.ajax({
        //     url: "http://127.0.0.1:8000/api/history/y",
        //     dataType: "json",
        //     method: "POST",
        //   });
        //   request.done(function(msg){
        //     y_ = Array.from(Object.values(msg.y));
        //     y_array = populateArrays(y_);
        //     console.log(y_array);
        //   });
        //
        //   request.fail(function(jqXHR, textStatus){
        //     console.log("Request failed: " + jqXHR.responseText);
        //   });
        // }

        function populateArrays(dt){
          return dt;
        }

    </script>
</body>
</html>
