<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60; URL=https://sheltered-coast-93272.herokuapp.com/">
    <!-- <meta http-equiv="refresh" content="5; URL=http://127.0.0.1:8000/"> -->

    <title>Graph</title>
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script> -->
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.3.1.min.css')}}">
    {% endblock %}
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <p id="x-value">{{ xa }}</p>
                <div id="x_graph" style="width: 800px;height: 400px"></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <p id="y-value">{{ ya }}</p>
                <div id="y_graph" style="width: 800px;height: 400px"></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="data-wrapper">
                <div id="success-alert" class="alert alert-success"></div>
                <div class="alert alert-danger"></div>
            </div>
        </div>
    </div>
    <script>
        // Global variables
        y_array = [];
        x_array = [];
        x_graph = document.getElementById('x_graph');
        y_graph = document.getElementById('y_graph');
        var x = document.getElementById("x-value").innerHTML;
        var y = document.getElementById("y-value").innerHTML;
        console.log(x)
        var regPat = /[0-9][.][0-9]+/g;
        x_str = x.match(regPat);
        y_str = y.match(regPat);

        console.log("x: " + x_str[0]);
        console.log("y: " + y_str[2]);
        console.log(y_str.length);

        
        var plotTime = new Date();
        
        var plotData = [{
            x: [plotTime],
            y: [x_str[0], x_str[1], x_str[2], x_str[3]],
            mode: 'lines+markers',
            line: {
                color: '#80CAF6'
            }
        }];
        
        var plotDataY = [{
            x: [plotTime],
            y: [y_str[0], y_str[1], y_str[2], y_str[3]],
            mode: 'lines+markers',
            line: {
                color: '#FFA500'
            }
        }];
        
        var plotLayout = {
            title: "Graph Data Visualisation - Displacement Against Time",
            yaxis: {
                title: "Displacement - X",
                range: [-3, 3]
            },
            xaxis: {
                title: "Time"
            }
        };
        
        var plotLayoutY = {
            title: "Graph Data Visualisation - Displacement Against Time",
            yaxis: {
                title: "Displacement - Y",
                range: [-3, 3]
            },
            xaxis: {
                title: "Time"
            }
        }

        Plotly.newPlot(x_graph, plotData, plotLayout);
        Plotly.newPlot(y_graph, plotDataY, plotLayoutY);
        
        var count = 0;

        var plotInterval = setInterval(function() {
            fetch();
            var plotTime = new Date();

            // fetch and add y_array on every tick
            var pltUpdate = {
                x: [
                    [plotTime]
                ],
                y: [x_array]
            }

            Plotly.extendTraces(x_graph, pltUpdate, [0])

            if (count === 1000) clearInterval(plotInterval);
        }, 1000);
        
        var plotIntervalY = setInterval(function() {
            fetchY();
            
            fetchAxis('y');
            var plotTime = new Date();

            // fetch and add y_array on every tick
            var pltUpdate = {
                x: [
                    [plotTime]
                ],
                y: [y_array]
            }

            Plotly.extendTraces(y_graph, pltUpdate, [0])

            if (count === 1000) clearInterval(plotInterval);
        }, 1000);

//        var fetchDt = setInterval(function() {
//            fetch();
//        }, 300);
//        

        // Plotly.newPlot(test, [{
        // 	x: x_str,
        // 	y: y_str, 
        // }], {
        // 	margin: {
        // 		t: 0
        // 	},
        // 	yaxis: {
        // 		tickformat: '%H:%M:%S',
        // 		title: 'yaxis title'
        // 	},
        // 	xaxis: {
        // 		title: 'xaxis title'
        // 	}
        // })
        
        // Ajax call to endpoint, append values to HTML element
        function fetch() {
            var request = $.ajax({
                url: "https://sheltered-coast-93272.herokuapp.com/api/xaxis",
                dataType: "json",
                method: "POST"
            });
            request.done(function(msg) {
                $("#x-value").html("[" + msg.slice(0, 4) + "]");
                console.log("res: " + msg);
                console.log("res length: " + msg.length);
                $("#success-alert").html(msg);
                populateAxis(msg, x_array);
                
            })

            request.fail(function(jqXHR, textStatus) {
                $("#error-alert").html("Request failed: " + textStatus);
            });
        }
        
//        function fetchY() {
//            var request = $.ajax({
//                url: "https://sheltered-coast-93272.herokuapp.com/api/yaxis",
//                dataType: "json",
//                method: "POST"
//            });
//            request.done(function(msg) {
//                $("#y-value").html("[" + msg.slice(0, 4) + "]");
//                console.log("res: " + msg);
//                console.log("res length: " + msg.length);
//                $("#success-alert").html(msg);
//                populateAxis(msg, y_array);
//                
//            })
//
//            request.fail(function(jqXHR, textStatus) {
//                $("#error-alert").html("Request failed: " + textStatus);
//            });
//        }
//        
        
        function fetchAxis(axis) {
//            console.log("ax: " + typeof(axis));
            console.log("ax: " + typeof(axis.toString()));
            
//            if (axis === "y"){
//                id = "x"
//            } else if (axis === "x"){
//                id = "y"
//            }
            
            var req = $.ajax({
                url: "https://sheltered-coast-93272.herokuapp.com/api/axis",
                dataType: "json",
                method: "POST",
                data: {
                    id: axis
                }
            });
            
            req.done(function(msg){
                console.log("y-axis: " + msg);
                populateAxis(msg, y_array);
            });
            
            req.fail(function(jqXHR, textStatus){
                $("#error-alert").html("Request failed: " + textStatus);
            });
        }
        // Read the elements of the y-axis div, populate y_array
//        function readYValues(){
//            var y = document.getElementById("y-value").innerHTML;
//            var regPat = /[0-9][.][0-9]+/g;
//            y_str = y.match(regPat);
//            
//            for (var j = 0; j <= y_str.length; j++) {
//                if (y_array.length == 0){
//                    y_array.push(y_str[j]);
//                } else {
//                    y_array = [];
//                }
//                
//            }
//            console.log("array: " + y_array);
//            return y_array;
//        }
        
        function populateAxis(dt, a_array) {
            console.log("test: " + a_array.length);
            if (a_array.length == 0) {
                for (var i =0; i <= dt.length; i++) {
                    a_array.push(dt[i]);
                }
            } else {
                // test_array.length = 0;
                for (var k = 0; k < dt.length; k++) {
                    a_array.splice(k, dt.length, dt[k]);
                }
            }
            console.log("populated: " + a_array);      
        }

    </script>

</body>

</html>
